.treeDiv{
    position: absolute;
    margin-left:0px;
    margin-top:100px;
    height: 600px;
    width: 200px;
    box-sizing: border-box;
    border-radius: 20px;
    font-size:20px;
    overflow: auto;
}

.treeDiv_show{
    opacity: 1;
    transition: .5s;
}

.treeDiv_hide{
    opacity: 0;
    transition: .2s;
}

.treeUl{
    position: absolute;
    margin-left:20px;
    margin-top:20px;
    box-sizing: border-box;
    border-radius: 20px;
}


.treeUl li{
    list-style: none;
    display: block;
    color: white;
    margin-left:18px;
}

.treeUl a{
    color: white !important;
}

/*左侧箭头符号*/
.toggle-open{
    width:0px;
    height:0px;
    margin-left:0px;
    border:5px solid transparent;
    display:inline-block;
    border-top-color: white;/*利用left | top填border三角的色,从而展示出三角形*/
}

.toggle-close{
    width:0px;
    height:0px;
    margin-left:0px;
    border:5px solid transparent;
    display:inline-block;
    border-left-color: white; 
}

/*下拉列表*/
.ul-open{
    transition: max-height .3s , opacity .5s;
    opacity: 1;
}

.ul-close{
    width: 100%;
    max-height: 0px !important;/*只有px才能有滑动效果!!!*/
    transition: max-height .3s , opacity .5s;
    opacity: 0;
    overflow: hidden;
}

.title-clicked {
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color .5s; 
    border-radius: 6px;
    color:rgb(153,30,65);
    transition: color .5s; 
}

.title-unclicked{
    background-color: rgba(255, 255, 255, 0);
    transition:.5s;
    border-radius: 6px;
}


.title-unclicked:hover{
    background-color: rgba(255, 255, 255, 0.3);
    transition: .5s; 
}